@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root,
* {
	font-size: 16px;
	font-family: "poppins";
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	--transition-speed: 600ms;
}
.dark {
	--text-primary: #abaaaa;
	--text-secondary: #ececec;
	--bg-primary: #04142c;
	--bg-secondary: #002051;
	--link: #00d8d8;
	--box: #474747;
	--link-border: #3d3d3d;
}

.light {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;
	--link: #0037ff;
	--box: #474747;
	--link-border: #acacac;
}

.solar {
	--text-primary: #576e75;
	--text-secondary: #35535c;
	--bg-primary: #ffdbc4;
	--bg-secondary: #f5e5b8;
	--link: #f2826e;
	--box: #9d9c9c;
	--link-border: #f2af96;
}

body {
	background: var(--bg-primary);
	color: var(--text-primary);
	transition: background 0.5s;
}
svg {
	width: 40px;
}
ol li {
	padding-top: 2rem;
	@media screen and (min-width: 600px) {
		padding-top: 4rem;
	}
}
h2 {
	font-size: larger;
	text-transform: uppercase;
}
li::marker {
	font-size: x-large;
}
.ads-con {
	display: none;
}

main {
	margin-left: 5rem;
	padding: 1rem;

	transition: margin var(--transition-speed);
	position: relative;
	.socials {
		position: absolute;
		height: 100vh;
		top: 0;
		right: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;

		.social {
			height: fit-content;
			position: fixed;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			gap: 2rem;
			background: var(--text-secondary);
			padding: 0.7rem 0;
			border-radius: 12px;
			box-shadow: 0 0 15px var(--box);
			a {
				transition: scale 400ms;
				scale: 1.2;
				position: relative;

				&:hover {
					scale: 1.4;
				}
			}
		}
	}
	a {
		text-decoration: none;
		color: var(--link);
		font-weight: bold;
		letter-spacing: 0.3ch;
	}
	h1 {
		text-align: center;
		font-size: xx-large;
		text-transform: uppercase;
	}
	.title {
		margin-bottom: 2rem;
		position: relative;
		text-align: unset;
		user-select: none;
		width: fit-content;

		&::before {
			content: "";
			position: absolute;
			height: 4px;
			background: var(--text-primary);
			width: 80px;
			left: 0;
			bottom: 0;
			transition: width 1s ease;
		}
		&:hover {
			&::before {
				width: 197px;
			}
		}
	}
}
.part-2 {
	p {
		margin-bottom: 1rem;
	}
}
.nav-item:last-child {
	cursor: pointer;
	.fa-primary {
		color: #00eaff;
	}
	.fa-secondary {
		color: #049d8e;
	}
}
.animations {
	svg {
		animation: rotate 3s linear infinite;
	}
}

.navbar {
	user-select: none;
	position: fixed;
	background: var(--bg-primary);
	transition: width 400ms ease;
	border-right: 1px solid var(--bg-secondary);

	.navbar-nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	.nav-link {
		display: flex;
		align-items: center;
		height: 5rem;
		color: var(--text-primary);
		text-decoration: none;
		filter: grayscale(1) opacity(0.7);
		transition: var(--transition-speed);
		svg {
			min-width: 2rem;
			margin: 0 1.5rem;
		}
		&:hover {
			filter: grayscale(0) opacity(1);
			background: var(--bg-secondary);
			color: var(--text-secondary);
		}
	}
	.link-text {
		display: none;
	}
}

.fa-primary {
	color: #006f64;
}
.fa-secondary {
	color: #00eaff;
}
.fa-primary,
.fa-secondary {
	transition: var(--transition-speed);
}

.theme-icon {
	display: none;
}
.dark {
	#darkIcon {
		display: inline;
	}
}
.light {
	#lightIcon {
		display: inline;
	}
}
.solar {
	#solarIcon {
		display: inline;
	}
}
.box-shadow {
	height: 200px;
	width: 270px;
	border-radius: 12px;
	box-shadow: 0 0 20px var(--box);
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-primary);
	animation: addShadow 5s ease infinite;
}
@keyframes addShadow {
	0% {
		box-shadow: 0 0 20px var(--box);
	}
	20% {
		box-shadow: 0 0 40px var(--box);
	}
	50% {
		box-shadow: 0 0 60px var(--box);
	}
	70% {
		box-shadow: 0 20px 80px var(--box);
	}
	100% {
		box-shadow: 0 0 20px var(--box);
	}
}
.gradient,
.gradient-txt {
	background: linear-gradient(90deg, #01fffb, #fb08ff, #ffb005);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	width: fit-content;
}
.gradient-txt {
	background-size: 150% 150%;
	animation: motion 2s infinite;
	background-position: 0% 100%;
	font-weight: bold;

	@keyframes motion {
		50% {
			background-position: 100% 0;
		}
	}
}
@media (max-width: 400px) {
	p,
	li {
		text-align: center;
	}
	svg {
		width: 25px;
	}
	.animation,
	.gradient,
	.gradient-txt,
	.box-shadow {
		margin: 0 auto;
	}
	.box-shadow {
		margin-top: 1rem;
	}
}
@media (min-width: 601px) {
	.logo {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1rem;
		background: var(--bg-secondary);
		color: var(--text-secondary);
		letter-spacing: 0.3ch;
		width: 100%;

		svg {
			transform: rotate(0);
			transition: transform 1.5s ease;
		}
	}
	.nav-item {
		text-transform: uppercase;
	}
	body {
		overflow-x: hidden;
	}
	img {
		width: 500px;
		border-radius: 20px;
	}
	main {
		padding-left: 2.5rem;
		transition: background 1s;
		transition: all 0.5s;
	}
	p,
	li {
		line-height: 2;
		font-size: large;
	}
}

@media (min-width: 601px) and (max-width: 1200px) {
	nav:hover ~ main {
		margin-left: 16.8rem;
		transition: all 0.3s;
	}
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
		&:hover {
			width: 16.8rem;
			.link-text {
				display: inline;
				transition: opacity var(--transition-speed);
			}
			.logo {
				.logo-text {
					left: 0;
					padding-left: 12px;
				}
				svg {
					margin-left: 8rem;
					transform: rotate(-540deg);
				}
			}
		}
	}
	.nav-item {
		width: 100%;
		&:last-child {
			margin-top: auto;
		}
	}
}
@media (min-width: 1400px) {
	.ads-con {
		position: relative;
		display: block;
		width: 450px;
		background: url(../images/cyan-loader.gif) no-repeat right;
		background-size: cover;
		position: fixed;
		right: 0;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.ads {
		font-size: xx-large;
		color: var(--link);
		background: linear-gradient(90deg, #01fffb, #fb08ff, #ffb005);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 10px;
		border: 1px solid var(--link);
		border-radius: 12px;
		text-transform: uppercase;
	}
	main {
		width: calc(100% - 800px);

		transition: background 1s;
	}
}

@media (max-width: 600px) {
	ol {
		margin-left: 10px;
	}
	svg {
		width: 25px;
	}
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
		z-index: 999;

		.logo {
			position: fixed;
			right: 1rem;
			top: 1rem;
			.logo-text {
				display: block;
				font-size: large;
				text-transform: uppercase;
				letter-spacing: 0.3ch;
				font-weight: bold;
			}
			a {
				height: fit-content;
				padding: 4px;
				width: fit-content;
				border: none;
				border: 1px solid var(--text-primary);
				background: var(--bg-primary);
				filter: none;
				svg {
					display: none;
				}
			}
		}
		.navbar-nav {
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			border-top: 1px solid var(--text-secondary);
		}
		.nav-link {
			justify-content: center;
			width: 50px;
			height: 60px;
			border-right: 1px solid var(--link-border);
		}
	}
	main {
		margin: 0;
		margin-left: 0.2rem;
	}
	img {
		border-radius: 12px;
		width: 330px;
		height: 240px;
	}
	.conclusion {
		margin-bottom: 5rem;
	}
}
@media (min-width: 1200px) {
	.navbar {
		top: 0;
		height: 100vh;

		width: 16.8rem;
		.link-text {
			display: inline;
			transition: opacity var(--transition-speed);
		}
		.logo {
			.logo-text {
				left: 0;
				padding-left: 12px;
			}
			svg {
				margin-left: 8rem;
				transform: rotate(-540deg);
			}
		}
	}
	.nav-item {
		width: 100%;
		&:last-child {
			margin-top: auto;
		}
	}
	main {
		margin-left: 16.9rem;
	}
}

.fonts,
.responsive {
	margin-top: 2rem;
}

.animation {
	border: 1px solid var(--text-secondary);
	width: 100px;
	margin-top: 1rem;
	.loading-container {
		width: 100px;
		height: 100px;
		scale: 0.8;
		animation: rotate 2s infinite;
		&:where(:hover) {
			animation-play-state: paused;
		}
	}
	.circle {
		width: 30px;
		height: 30px;
		box-shadow: 0 0 15px var(--text-primary), 0 0 20px var(--text-secondary);
		border-radius: 50%;
		background-color: var(--text-secondary);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.filter {
	height: fit-content;
	margin-top: 1rem;
	img {
		@media screen and (max-width: 600px) {
			height: 300px;
		}
		@media screen and (max-width: 380px) {
			width: 300px;
		}
		&:hover {
			animation: filters 10s ease infinite;
			cursor: progress;
		}
	}
}
.foo {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	p {
		opacity: 0.7;
		position: absolute;
		bottom: 0;
	}
}
@keyframes filters {
	0% {
		filter: grayscale(1);
	}
	30% {
		filter: grayscale(0) sepia(1);
	}
	50% {
		filter: saturate(150%) sepia(2) brightness(120%);
	}
	70% {
		filter: hue-rotate(10deg) brightness(110%);
	}
	80% {
		filter: grayscale(1) hue-rotate(90deg) brightness(120%);
	}
	100% {
		filter: grayscale(1);
	}
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
	background: var(--text-primary);
}

::selection {
	background: var(--text-primary);
	color: var(--bg-primary);
}
.am-active .nav-link {
	filter: grayscale(0) opacity(1) !important;
	background: var(--bg-secondary) !important;
	color: var(--text-secondary) !important;
}
